body{
    background-color: black;
    color: white;
}
.grid{
    background-color: rgb(100, 100, 100);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}
.item{
    background-color: rgb(255, 255, 255);
    padding: 40px;
}


/* <article class="item Azul"></article>
<article class="item Verde"></article>
<article class="item Naranja"></article>
<article class="item Rojo"></article>
<article class="item Violeta"></article> */
.Azul{
    background-color: rgb(89, 89, 251);
}
.Verde{
    background-color: rgb(97, 211, 97);
}
.Naranja{
    background-color: rgb(238, 136, 99);
}
.Rojo{
    background-color: rgb(244, 239, 85);
}
.Violeta{
    background-color: rgb(164, 117, 211);
}