body{
    background-color: black;
    color: white;
}
.grid{
    background-color: rgb(164, 164, 164);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
}
.item{
    background-color: rgb(255, 255, 255);
    padding: 40px;
}


/* <article class="item Azul"></article>
<article class="item Verde"></article>
<article class="item Naranja"></article>
<article class="item Rojo"></article>
<article class="item Violeta"></article> */
.Azul{
    background-color: rgb(93, 93, 255);
}
.Verde{
    background-color: rgb(82, 213, 82);
}
.Naranja{
    background-color: rgb(242, 113, 66);
}
.Rojo{
    background-color: rgb(242, 60, 60);
}
.Violeta{
    background-color: rgb(142, 84, 200);
}